<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swe.zonein.zonein">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activities.ZoneInApp"
        android:allowBackup="true"
        android:icon="@mipmap/zoneinlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignInActivity"
            android:label="@string/title_activity_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Activities.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.FollowersActivity"
            android:label="@string/title_FollowersActivity"></activity>
        <activity
            android:name=".Activities.FollowingActivity"
            android:label="@string/title_FollowingActivity"></activity>
        <activity
            android:name=".Activities.RestorePasswordActivity"
            android:label="@string/title_activity_restore_password">
            Restore password
        </activity>
        <activity
            android:name=".Activities.AllUsersActivity"
            android:label="@string/title_activity_all_users"></activity>
    </application>

</manifest>
